@media (max-width: 1000px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    backdrop-filter: blur(18.299999237060547px);
    background: #000000bf;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
    }

    &__logo img {
      max-width: 220px;
      transition: var(--transition);
    }

    &__logo:hover img {
      transform: scale(1.2);
    }

    &__nav-list {
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
      display: flex;
      gap: 63px;
      padding: 22px 0;
      max-width: 150px;
      position: fixed;
      top: 83px;
      right: 0;
      flex-direction: column;
      gap: 22px;
      text-align: center;
      transition: var(--transition)
    }

    &__nav-item {
      @extend %text-header;
    }

    &__nav-item:hover {
      color: var(--bg-text);
      transform: scale(1.1);
    }
  }

  .body--opened-menu .header__nav-list {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(18.299999237060547px);
    background: #000000bf;
    transform: translateX(0);
  }

  .burger-icon {
    display: flex;
  }
}
@media (max-width: 700px) {
  .hero{

    &__inner img {
      width: 400px;
    }
    &__text {
      font-size: 16px;
    }
  }
  .hero__video video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .instructions__item {
    border: 0.50px solid #b39d63;
    background: transparent;
    border-radius: 71px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 30px;
    text-align: center;
        font-size: 12px;
    position: relative;
  }
 
}
@media (max-width: 450px) {
  .hero{
    &__inner img {
      width: auto;
    }
    &__text {
      font-size: 12px;
    }
  }

  .instructions::before {
    content: "";
    background-image: url(../img/bg-mobile.png);
    position: absolute;
    top: -350px;
    height: 300px;
    z-index: -1;
    opacity: .4;
  }
  
  .instructions::after {
    content: "";
    background-image: url(../img/bg-mobile.png);
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    height: 300px;
    z-index: -1;
    opacity: .4;

  }

  .instructions__item {
    border: 0.50px solid #b39d63;
    background: transparent;
    border-radius: 71px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 30px;
    text-align: center;
        font-size: 12px;
    position: relative;
  }

  .footer {
    &__inner {
      padding: 80px 0 100px;
      display: flex;
      flex-direction: column; 
      text-align: center
    } 
  }
  
}