%text-header {
  transition: var(--transition);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--header-text);
  
}

%general-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: var(--general-text);
}

%instructions-text {
  font-family: var(--font-family);
font-weight: 500;
font-size: 12px;
color: var(--general-text);
}


%button {
  border: 1px solid #b49d60;
  color: var( --button-text);
  border-radius: 38px;
  width: 250px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #8c602a 0%, #deae68 24.5%, #835925 48%, #e1b26e 73%, #bf9252 87.5%, #b18044 100%);
}