:root {
  --font-family: "Chalet-LondonNineteenSixty", sans-serif;
  --second-family: "PT Serif", sans-serif;
  --third-family: "PT Serif Caption", sans-serif;
  --general-bg: #0d0d0d;
  --header-text: #fff;
  --bg-text: #b8a46f;
  --button-text: #feedcc;
  --button-contest:#d9c285;;
  --general-text: #fdf8ee;
  --burger-color: #9c9c9c;
  --transition: all .5s;
}