@import "reset";
@import "fonts";
@import "vars";
@import "mixins";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.body {
  font-family: var(--font-family);
  line-height: 1.5;
  background: #000000;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.body--modal-opened {
  opacity: 1;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  height: 100%;

  &__header {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
  }
}

/*========================================================================*/

.modal {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  &__window {
    background-image: url(../img/bg-modal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 24px;
    padding: 50px 34px 75px;
    max-width: 380px;
    margin: 0 15px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: #000;
  }

  &__window::before {
    content: '';
    background-image: url(../img/bg-mobile.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #b8a46f;
    margin-bottom: 50px;
  }

  &__body {
    display: flex;
    gap: 27px;
  }


  &__body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  &__body-item {
    @extend %text-header;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__body-item p {
    transform: translateY(-3px);
  }
}


.modal__body-img {
  background: black;
  border-radius: 18px;
  overflow: hidden;
}

.modal__body-img>img {
  width: 100%;
height: 100%;
object-fit: cover;
object-position: 0% 50%;

}



.body--modal-opened .modal {
  opacity: 1;
  visibility: visible;
}

.modal__window-progress {
  display: none;
}

.modal__window-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  &__window-viewing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__viewing-img {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    background-color: #000;
  }
  &__viewing-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  }


  &__cancel {
    position: absolute;
    top: 2%;
    right: 5%;
    padding: 5px;
    cursor: pointer;
  }
}

/*========================================================================*/

.header {
  position: fixed;
  left: 0;
  right: 0;
  backdrop-filter: blur(18.299999237060547px);
  z-index: 6;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    z-index: 6;
  }

  &__logo img {
    max-width: 220px;
    transition: var(--transition);
  }



  &__nav-list {
    display: flex;
    gap: 63px;
  }

  &__nav-item {
    @extend %text-header;
  }

  &__nav-item:hover {
    color: var(--bg-text);
  }
}

.burger-icon {
  display: none;
  width: 35px;
  height: 35px;
  align-items: center;
  z-index: 12;

  & span {
    width: 32px;
    height: 2px;
    background: var(--burger-color);
    transition: all .3s;
  }

  & span {
    position: relative;
  }

  & span::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 32px;
    height: 2px;
    background: var(--burger-color);
    transition: all .3s;
  }

  & span::after {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 32px;
    height: 2px;
    background: var(--burger-color);
    transition: all .3s;
  }
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  transform: rotate(45deg);
  top: 0;
}

.body--opened-menu .burger-icon span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/*========================================================*/

.hero {
  position: relative;
  z-index: 2;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 0 auto;
  background: linear-gradient(181deg, rgba(0, 0, 0, 0) 11.09%, #000 59.44%), linear-gradient(180deg, rgba(13, 13, 13, 0) 12.5%, rgba(13, 13, 13, 0) 23.51%, rgba(13, 13, 13, 0.81) 38.9%, #0d0d0d 43.76%, rgba(13, 13, 13, 0) 87.5%);
  z-index: 7;
  padding-top: 130px;
  transform: translateY(100%);
}

.hero__inner img {
  width: 600px;
}

.hero__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 90%;
  text-align: center;
  color: #b8a46f;
  max-width: 550px;
  padding: 0 40px 43px;
  z-index: 3;
}

.button {
  @extend %button;
  transition: var(--transition);
  z-index: 4;
}

.button:hover {
  transition: var(--transition);
  opacity: 0.8;

}

.button-upload-btn {
  @extend %button;
  width: 120px;
  height: 35px;
}

.button__contest {
  @extend %button-contest;
  z-index: 4;
  transition: var(--transition);
}

.button__contest:hover {
  color: var(--button-text);
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -5;
}

.hero__video video {
  width: 100%;
  height: 900px;
}

.page>img {
  display: none;
  padding-top: 31px;
  width: 30px;
}
/*========================================================*/

.instructions {
  position: relative;
  z-index: 1;
  background-color: #000000;
  margin-top: 450px;
}

.instructions::before {
  content: "";
  background-image: url(../img/bg.png);
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  height: 700px;
  opacity: .4;
  z-index: -1;
}

.instructions__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 185px;
}

.instructions__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #b8a46f;
  margin-bottom: 85px;

}

.instructions__img {
  margin-bottom: 170px;
}

.instructions__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.instructions__item {
  border: 0.50px solid #b39d63;
  background: transparent;
  border-radius: 71px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %instructions-text;
  padding: 30px 60px;
  text-align: center;

  position: relative;
}

.instructions__item:last-child {
  margin-bottom: 60px;
}

.instructions__item span {
  position: absolute;
  top: -25px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--bg-text);
  background: #000000;
  padding: 0 10px;
}



/*========================================================*/

.body-download {
  background: var(--general-bg);
}

.download::before {
  content: "";
  background-image: url(../img/bg.png);
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  height: 700px;
  opacity: .4;
  z-index: -1;
}



.download {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #b8a46f;
    margin-bottom: 50px;
  }

  &__img {
    margin-bottom: 65px;
  }
}



.footer__inner.footer__inner-download {
  padding: 100px 0 0px;
}

input[type="file"] {
  display: none;
}

/*========================================================*/


.ready {
  z-index: 3;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 400px;
    gap: 25px;

  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #b8a46f;

  }

  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--button-text);
    margin: 0 15px;
  }
}

.ready::before {
  content: "";
  background-image: url(../img/bg.png);
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  height: 700px;
  opacity: .4;
  z-index: -1;
}


.competition {
  z-index: 3;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 400px;
    gap: 25px;
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #b8a46f;
  }
  &__text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--button-text);
    margin: 0 15px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px
    ;
  }
}

.competition::before {
  content: "";
  background-image: url(../img/bg.png);
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  height: 700px;
  opacity: .4;
  z-index: -1;
}




.progress-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.progress-modal::before {
  content: '';
    background-image: url(../img/bg-mobile.png);
    position: absolute;
    background-repeat: no-repeat;
    top: -100px;
    bottom: 0;
    left: 0;
    right: 0;   
    opacity: .3;
    z-index: -1;
}



.result-page {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.hidden {
  display: none;
}

.progress-modal {
  background-image: url(../img/bg-modal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 24px;
  padding: 50px 34px 75px;
  max-width: 380px;
  background-color: #000;
}

.progress-modal-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #b8a46f;
  margin-bottom: 50px;
}

.progress-bar {
  width: 300px;
  height: 10px;
  background-color: #0d0d0d;
  position: relative;
  border-radius: 36px;
}

.progress {
  width: 0;
  height: 100%;
  background: linear-gradient(270deg, #8c602a 0%, #deae68 24.5%, #835925 48%, #e1b26e 73%, #bf9252 87.5%, #b18044 100%);
  transition: width 0.5s;
  border-radius: 36px;
}

.progressValueText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--button-text);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}



/*========================================================*/

.footer {
  z-index: 0;


  &__inner {
    padding: 140px 0 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 0;
    position: relative;
  }

  &__item {
    @extend %text-header;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
  }

  &__item:hover {
    color: var(--bg-text);
  }

  .footer__inner::before {
    content: "";
    background-image: url(../img/bg.png);
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    height: 600px;
    opacity: .4;
    z-index: -2;
  }
}




/*========================================================*/
/*======================Адаптив===========================*/
/*========================================================*/

@import "media";