@import "reset";
@import "fonts";
@import "vars";
@import "mixins";

.body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: var();
  background: var(--general-bg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1053px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;




  &__header {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
  }
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  backdrop-filter: blur(18.299999237060547px);
  background: #000000bf;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__logo img {
    max-width: 220px;
    transition: var(--transition);
  }

  &__logo:hover img {
    transform: scale(1.2);
  }

  &__nav-list {
    display: flex;
    gap: 63px;
  }

  &__nav-item {
    @extend %text-header;
  }

  &__nav-item:hover {
    color: var(--bg-text);
    transform: scale(1.1);
  }
}

.burger-icon {
  display: none;
  width: 35px;
  height: 35px;
  align-items: center;

  & span {
    width: 32px;
    height: 2px;
    background: var(--burger-color);
    transition: all .3s;
  }

  & span {
    position: relative;
  }

  & span::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 32px;
    height: 2px;
    background: var(--burger-color);
    transition: all .3s;
  }

  & span::after {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 32px;
    height: 2px;
    background: var(--burger-color);
    transition: all .3s;
  }
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  transform: rotate(45deg);
  top: 0;
}

.body--opened-menu .burger-icon span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  min-height: 1088px;
  align-items: center;
  justify-content: end;
  background-image: url(../img/hero.jpg);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 1024px;
}

.hero__inner img {
  width: 600px;
}

.hero__text {
  font-family: var(--font-family);
font-weight: 500;
font-size: 22px;
line-height: 90%;
text-align: center;
color: #b8a46f;
max-width: 550px;
padding: 0 40px 43px;
}

.button {
  @extend %button;
  transition: var(--transition);
}
.button:hover {
  transition: var(--transition);
  background: transparent;
  color: var(--bg-text);
}



/*========================================================*/
/*======================Адаптив===========================*/
/*========================================================*/

@import "media";